:root{
    --silver-pink: hsla(20, 17%, 77%, 1);
    --old-rose: hsla(355, 38%, 80%, 1);
    --ruber: hsla(344, 63%, 81%, 1);
    --pearly-purple: hsla(321, 33%, 64%, 1);
    --slate-gray: hsla(213, 17%, 56%, 1);
}

*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:var(--silver-pink);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date{
    background-color:white;
    border-radius: 80px;
    border: 3px solid var(--ruber);
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
    height: 100px;
}
.date  input {
    font-weight: 600;
    flex: 0.9;
    height: 70px;
    border:2px solid var(--ruber);
    border-radius: 8px;
    padding: 5px;
    color:var(--slate-gray);
    opacity: 0.7;
    
}
.date input:hover{
    opacity: 1;
    color:red;
}
.date  label {
    font-weight: bold;
    color:var(--ruber);
    padding-right: 10px;
}
.buttons{
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.button{
    height: 100px;
    width: 150px;
    color:var(--ruber);
    background:white;
    border: 0 solid antiquewhite;
    opacity: 1;
    border-radius: 8px;
    font-weight: bold;
}
.button:hover{
    color: black;
    background: rosybrown;
    opacity: 0.6;
}